/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  border: 1px solid transparent;
  outline: none;
  background-color: #F78FA7;
  padding: 20px;
  border-radius: 4px;
  transition: background-color .3s ease-in-out;
}

button:hover {
  background-color: #FFFFFF;
  border-color: #F78FA7; 
}